<form action="<%=cat_url(@cat)%>" method="POST">
<input type='hidden' name="_method" value="PATCH">

    <label for="Name">Name</label>
    <input id="Name" type="text" name="cat[name]" value="<%=@cat.name%>">
    <br>

    <label for="birthday">Birthday</label>
    <input id="birthday" type="date" name="cat[birth_date]"value="<%=@cat.birth_date%>">
    <br>

    <label for="Color">Color</label>
    <input id="Color" type="text" name="cat[color]"value="<%=@cat.color%>">
    <br>

     <label for="Sex">Sex</label>
     <select name="cat[sex]" id="Sex">
        <option disabled> -- Please select Sex -- </option>
        <option value="M" <%= @cat.sex == 'M' ? "selected" : ""  %>> Male </option>
        <option value="F" <%= @cat.sex == 'F' ? "selected" : ""  %>> Female </option>
     </select>
    <br>

    <label for="Description">Description</label>
    <textarea name="cat[description]"><%=@cat.description %></textarea>
    <br>

    <button>Update Cat!</button>
</form>